<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.directchat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="your tests label"
        android:targetPackage="com.directchat" />

    <application
        android:name=".DirectChat"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.directchat.SplashScan"
            android:label="@string/appName"
            android:theme="@style/Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.directchat.MainActivity"
            android:label="@string/appName" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.directchat.MessagingActivity"
            android:label="@string/messageActivityTitle" >
        </activity>
        <activity
            android:name=".Preferences"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <service
            android:name=".NetworkMessageService"
            android:process=":nMS" >
        </service>
        <service
            android:name=".NetworkUserService"
            android:process=":nUS" >
        </service>
    </application>

</manifest>